<p id="notice"><%= notice %></p>

<h1>Pessoas</h1>

<%= link_to 'Cadastrar Pessoa', new_pessoa_path,
    {
      :style=>'color:#FFFFFF;',
      :class => "btn btn-primary"
    }
%>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>String</th>
      <th>Sobrenome</th>
      <th>String</th>
      <th>Data nascimento</th>
      <th>Date</th>
      <th>Email</th>
      <th>String</th>
      <th>Senha</th>
      <th>String</th>
      <th>Foto url</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.string %></td>
        <td><%= pessoa.sobrenome %></td>
        <td><%= pessoa.string %></td>
        <td><%= pessoa.data_nascimento %></td>
        <td><%= pessoa.date %></td>
        <td><%= pessoa.email %></td>
        <td><%= pessoa.string %></td>
        <td><%= pessoa.senha %></td>
        <td><%= pessoa.string %></td>
        <td><%= pessoa.foto_url %></td>
        <td><%= pessoa.string %></td>
        <td><%= link_to 'Show', pessoa %></td>
        <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Destroy', pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
