<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>String:</strong>
  <%= @pessoa.string %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @pessoa.sobrenome %>
</p>

<p>
  <strong>String:</strong>
  <%= @pessoa.string %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @pessoa.data_nascimento %>
</p>

<p>
  <strong>Date:</strong>
  <%= @pessoa.date %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<p>
  <strong>String:</strong>
  <%= @pessoa.string %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @pessoa.senha %>
</p>

<p>
  <strong>String:</strong>
  <%= @pessoa.string %>
</p>

<p>
  <strong>Foto url:</strong>
  <%= @pessoa.foto_url %>
</p>

<p>
  <strong>String:</strong>
  <%= @pessoa.string %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
